@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-semibold {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.wrapper {
  overflow: hidden;
  font-family: "Roboto", sans-serif;
}
.wrapper .main {
  display: flex;
  padding: 6rem 0rem 10rem 0rem;
  max-height: 70vh;
  justify-content: center;
  background-image: url(./../../images/home/ImageForBackground.jpg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}
.wrapper .main__container {
  max-width: 28rem;
  width: 100%;
  border-radius: 2rem;
  text-align: center;
  margin-left: 32rem;
}
.wrapper .main__container__title {
  font-size: 52px;
  font-weight: 600;
  color: #76885B;
  margin-bottom: 2rem;
  font-family: "Montserrat", sans-serif;
}
.wrapper .main__container__caption {
  font-size: 18px;
  font-weight: 500;
  color: #627254;
  font-family: "Montserrat", sans-serif;
  line-height: 1.8rem;
  margin-bottom: 2rem;
}
.wrapper .main__container__button {
  display: inline-block;
  padding: 1rem 2rem;
  color: #fff;
  background-color: #627254;
  border-radius: 1rem;
  border: 2px solid #627254;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  border-radius: 1rem;
  transition: 333ms ease-in-out;
}
.wrapper .main__container__button:hover {
  border: 2px solid #627254;
  color: invert(100%);
  background-color: transparent;
  font-weight: 500;
}
.wrapper .whyus {
  margin: 4rem 6.25rem 6rem 6.25em;
}
.wrapper .whyus__title {
  text-align: center;
  font-size: 36px;
  font-weight: 500;
  color: #76885B;
  margin-bottom: 4rem;
}
.wrapper .whyus__container {
  display: flex;
  justify-content: center;
  gap: 4rem;
}
.wrapper .whyus__container__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  text-align: center;
}
.wrapper .whyus__container__content__title {
  font-size: 24px;
  font-weight: 500;
  color: #76885B;
}
.wrapper .whyus__container__content__caption {
  font-size: 18px;
  font-weight: 400;
  color: #76885B;
  line-height: 1.8rem;
  font-family: "Montserrat", sans-serif;
  max-width: 32rem;
}
.wrapper .whyus__container__content__button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 2rem;
  margin: 2rem auto 2rem auto;
  max-width: 300px;
  color: #fff;
  background-color: #627254;
  border: 2px solid #627254;
  border-radius: 1rem;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  transition: 333ms ease-in-out;
}
.wrapper .whyus__container__content__button:hover {
  color: #627254;
  background-color: #fff;
  font-weight: 500;
}
.wrapper .whyus__container__image {
  width: 500px;
  border-radius: 1.5rem;
}
.wrapper .weoffer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.wrapper .weoffer__title {
  text-align: center;
  font-size: 36px;
  color: #76885B;
  font-weight: 500;
}
.wrapper .weoffer__container {
  border: 2px solid #76885B;
  border-radius: 1.5rem;
  margin: 4rem auto 2rem auto;
  display: flex;
  gap: 2rem;
}
.wrapper .weoffer__container__left {
  display: flex;
  flex-direction: column;
  padding: 2rem 0rem;
  padding-left: 2rem;
}
.wrapper .weoffer__container__left__title {
  font-size: 24px;
  font-weight: 500;
  color: #76885B;
  margin: 2rem 0rem;
}
.wrapper .weoffer__container__left__caption {
  font-size: 18px;
  font-weight: 400;
  color: #76885B;
  font-family: "Montserrat", sans-serif;
  line-height: 1.8rem;
}
.wrapper .weoffer__container__left__image {
  width: 500px;
  border-radius: 1.5rem;
}
.wrapper .weoffer__container__right {
  display: flex;
  flex-direction: column;
  padding: 2rem 0rem;
  padding-right: 2rem;
  text-align: right;
}
.wrapper .weoffer__container__right__title {
  font-size: 24px;
  font-weight: 500;
  color: #76885B;
  margin-bottom: 2rem;
}
.wrapper .weoffer__container__right__caption {
  font-size: 18px;
  font-weight: 400;
  color: #76885B;
  margin-bottom: 2rem;
  font-family: "Montserrat", sans-serif;
  line-height: 1.8rem;
}
.wrapper .weoffer__container__right__image {
  width: 500px;
  border-radius: 1.5rem;
}
.wrapper .weoffer__button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 2rem;
  margin: 0rem auto 2rem auto;
  max-width: 300px;
  color: #fff;
  background-color: #627254;
  border: 2px solid #627254;
  border-radius: 1rem;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  transition: 333ms ease-in-out;
}
.wrapper .weoffer__button:hover {
  color: #627254;
  background-color: #fff;
  font-weight: 500;
}