@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-semibold {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.register {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  font-family: "Montserrat", sans-serif;
  background-image: url("./../../images/auth/backgorund.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.register__form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  background-color: #627254;
  border-radius: 2rem;
  padding: 2rem;
  width: 20rem;
  box-shadow: 3px 7px 72px 14px rgb(98, 114, 84);
}
.register__form__title {
  font-size: 32px;
  color: #fff;
  text-align: center;
  font-weight: 600;
}
.register__form__group {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}
.register__form__group__caption {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
}
.register__form__group__input {
  font-size: 14px;
  padding: 0.4rem;
}
.register__form__group__input__input:focus {
  outline: none;
}
.register__form__group__checkbox {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.register__form__group__checkbox__item {
  color: #fff;
  font-size: 14px;
}
.register__form__group__agree {
  display: flex;
  align-items: center;
}
.register__form__group__agree__item {
  color: #fff;
  font-size: 14px;
}
.register__form__group__button {
  background-color: #fff;
  border: 0;
  padding: 0.8rem 0rem;
  font-size: 18px;
  color: #627254;
  font-weight: 500;
  cursor: pointer;
  transition: 333ms ease-in-out;
  border-radius: 1rem;
  text-align: center;
  text-decoration: none;
}
.register__form__group__button:hover {
  background-color: #627254;
  color: #fff;
  box-shadow: 3px 7px 43px 13px rgb(67, 82, 54);
}